/* Reset styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}
a:focus,
a:active {
  color: currentColor;
}
html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  overflow:clip;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
}
img {
  display: block;
  /* max-width: 100%; */
}
body {
  background-image: url(/src/img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Samsung Sharp Sans', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  width: 320px;
  color: black;
}
@font-face {
  font-family: 'SamsungSharpSans';
  src: url('fonts/SamsungSharpSans-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'SamsungSharpSans';
  src: url('fonts/SamsungSharpSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@media screen and (min-width: 768px) {
    body {
      width: 768px;
    }
  }
  @media screen and (min-width: 1440px) {
    body {
      width: 1440px;
    }
  }
  .wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ====================================== main page =========================================== */
/* frame1 */
.section-frame1 {
  /* display: none; */
  display: flex;
  justify-content: center;  
  width: -webkit-fill-available; 
}
.frame1 {
  width: 90%;
  background-color: #ffffff;
  border: 4px solid #000000;
  background-image: url(/src/img/frame1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  padding: 27px;
}
 .logo {
  display: flex;

  align-items: baseline;
    justify-content: space-between;
 }
 .samsung-logo {
  margin-top: 20px;
  margin-bottom: 110px; }
.samsung-logo-img {
  width: 275px;
  /* margin-bottom: 140px; */
}
 .bespoke{
  font-size: 42px;
line-height: 25px;
color: #ffffff;
font-weight: bold;
text-align: center;
}

.div-paragraph {
  width: 460px;
}
.paragraph {
  /* font-family: 'Samsung Sharp Sans', sans-serif; */
    font-size: 35px;
    line-height: 32px;
    color: #000000;
    font-weight: bold;
    /* font-family: "Samsung Sharp Sans"; */
}
.kitchnlogo-div {
  display: flex;
  gap: 10px;
}
.kitchnlogo img {
  width: 106px;
  height: 26px;
}
.footer-div {
  margin-top: 350px;
  display: flex;
  flex-direction: column;

}
.footer-paragraph{
  font-weight: bold;
  font-family: "Samsung Sharp Sans";
  font-size: 45px;
  color: #ffffff;
}
.footer-span{
  font-weight: lighter;
  color: #ffffff;
}
.save-now {
  color: #ffffff;

}
.footer-details {
  margin-top: 50px;
  font-family: "Samsung Sharp Sans";
  font-weight: lighter;
  font-size: 15px;
  color: #ffffff;
}
.button-shop-now {
  width: 280px;
  height: 110px;
  border-radius: 59px;
  border: 4px solid #000000;
  text-align: center;
  font-size: 42px;
  line-height: 27px;
  font-size: 42px;
  line-height: 27px;
  text-transform: uppercase;
  margin-top: 27px;
  font-family: 'SamsungOne', sans-serif;
} 
/* ================================== first section ========================================== */
/* frame2 */
.section-frame {
  width: -webkit-fill-available;
}
.section-frame2 {
  display: none;
  /* display: flex; */

  justify-content: center;
}
.frame {
  border: 4px solid #000000;
  background-repeat: no-repeat;
  /* padding: 54px; */
  background-color: #ffffff;
  height: 86vh;
    width: 100%;
    display: flex;
    flex: 0 0 95%;
    background-size: auto;
    background-position: center;
}
/* .frame2 {
    background-image: url('./img/vacuum-placeholder.png'); 
} */
 
.section-frame2 .image-section {
  background-image: url('/src/img/frame2.jpg');
  background-size: cover;
  background-position: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.logo-frame2 {
  padding: 29px;
    width: -webkit-fill-available;
}
.wrappwer-frame2-frame-img {
  display: flex;
}
.frame2-paragraph {
  margin-bottom: 40px;
  margin-top: 70px;
  width: 459px;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  font-family: "Samsung Sharp Sans";
}
.read-more {
color: gray;
}
.span-left-right {
  font-size: x-large;
}
.div-button-shop-now {
  display: flex;
  flex-direction: column;
}
.btn-div {
  margin-top: 20px;
  width: 120px;
  display: flex;
  align-items: center;
}
.frame-footer-details {
  color: #000000;

}
/* ================================== second section ========================================== */
/* frame3 */
.section-frame3 {

    display: none;
        /* display: flex; */
        justify-content: center;
}
.section-frame3 .image-section {
  background-image: url('/src/img/frame3.png');
  background-size: cover;
  background-position: center;
  padding: 20px;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
.bespoke-frame3 {
  color: white;
    display: flex;
    justify-content: flex-end;
    margin-top: 44px;
    margin-right: 48px;}
/* ================================== third section ========================================== */
/* frame4 */
.section-frame4 {
  display: none;
      /* display: flex; */
      justify-content: center;
}
.frame4 {
  background-image: url('./img/frame4.png'); 
  background-position: right;
}
/* ================================== fourth section ========================================== */
/* frame5 */
.section-frame5 {
  display: none;
  /* display: flex; */
  justify-content: center;

}

.section-frame5 .image-section {
  background-image: url('/src/img/frame5.jpg');
  background-size: cover;
  background-position: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}
/* ================================== fifth section ========================================== */
/* frame6 */
.section-frame6 {
  display: none;
  /* display: flex; */
  justify-content: center;
}

.section-frame6 .image-section {
  background-image: url('/src/img/frame6.jpg');
  background-size: cover;
  background-position: center;
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}