/* Reset styles */
/* Reset styles */
*,
*:before,
*:after {
  box-sizing: border-box;
}
a:focus,
a:active {
  color: currentColor;
}

html,
body {
  min-width: 320px;
  scroll-behavior: smooth;
}
.wrapper {
  min-height: 100%;
  overflow:clip;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  appearance: none;
  background-color: transparent;
  color: inherit;
}

img {
  display: block;
  /* max-width: 100%; */
}
body {
  background-image: url(/src/img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Samsung Sharp Sans', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  width: 320px;
}
@font-face {
  font-family: 'SamsungSharpSans';
  src: url('fonts/SamsungSharpSans-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'SamsungSharpSans';
  src: url('fonts/SamsungSharpSans-Bold.ttf') format('truetype');
  font-weight: bold;
}
@media screen and (min-width: 768px) {
    body {
      width: 768px;
    }
  }
  
  @media screen and (min-width: 1440px) {
    body {
      width: 1440px;
    }
  }
  .wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* frame1 */
.section-frame1 {
  display: none;
  width: -webkit-fill-available;
}
.frame1 {
  width: 90%;
  background-color: #ffffff;
  border: 4px solid #000000;
  background-image: url(/src/img/frame1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  padding: 82px;
}
 .logo {
  display: flex;

  align-items: baseline;
    justify-content: space-between;
 }
.samsung-logo-img {
  width: 275px;
}
 .bespoke{
  font-size: 42px;
line-height: 25px;
color: #ffffff;
font-weight: bold;
text-align: center;
}
.div-paragraph {
  width: 460px;
}
.paragraph {
  /* font-family: 'Samsung Sharp Sans', sans-serif; */
    font-size: 35px;
    line-height: 32px;
    color: #000000;
    font-weight: bold;
    /* font-family: "Samsung Sharp Sans"; */
}
.kitchnlogo-div {
  display: flex;
  gap: 10px;
}
.kitchnlogo img {
  width: 106px;
  height: 26px;
}
.footer-div {
  margin-top: 350px;
  display: flex;
  flex-direction: column;

}
.footer-paragraph{
  font-weight: bold;
  font-family: "Samsung Sharp Sans";
  font-size: 45px;
  color: #ffffff;


}
.footer-span{
  font-weight: lighter;
  color: #ffffff;
}
.save-now {
  color: #ffffff;

}
.footer-details {
  margin-top: 50px;
  font-family: "Samsung Sharp Sans";
  font-weight: lighter;
  font-size: 15px;
  color: #ffffff;



}
.button-shop-now {
  width: 305px;
height: 118px;
border-radius: 59px;
border: 4px solid #000000;
text-align: center;
font-size: 42px;
line-height: 27px;
font-size: 42px;
line-height: 27px;
text-transform: uppercase;
margin-top: 112px;
font-family: 'SamsungOne', sans-serif;
} 
/* frame2 */
.section-frame {
  width: -webkit-fill-available;
}
.section-frame2 {
  width: -webkit-fill-available;
  display: none;
}
.frame {
  border: 4px solid #000000;
  background-repeat: no-repeat;
  padding: 54px;
  background-color: #ffffff;
  height: 78vh;
    width: 100%;
    display: flex;
    flex: 0 0 50%;
    background-size: auto;
    background-position: center;
}
.frame2 {
    background-image: url('./img/vacuum-placeholder.png');
   
}
.logo-frame2 {
  padding: 29px;
    width: -webkit-fill-available;
}
.wrappwer-frame2-frame-img {
  display: flex;
}
.frame2-paragraph {
  margin-top: 72px;
  width: 459px;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
  font-family: "Samsung Sharp Sans";
}
.read-more {
color: gray;
}
.span-left-right {
  font-size: x-large;
}
.div-button-shop-now {
  display: flex;
  flex-direction: column;
}
.btn-div {
  margin-top: 25px;
  width: 120px;
  display: flex;
  align-items: center;
}
.frame-footer-details {
  color: #000000;

}
/* frame3 */
.section-frame3 {
  display: none;
}
.frame2 {
  background-image: url('./img/vacuum-placeholder.png');
 
}